body {
    margin:0px;
    padding:0px;
    font: 14px 'Verdana';
}
ul {
    list-style: none;
    display: block;
    margin:0px;
    padding:0px;
}
ul:after {
    display: block;
    float: none;
    content: ' ';
    clear: both;
}
ul.mmenuu > li {
    float: left;
    position: relative;
    width: 307px;
}
ul.mmenuu > li > a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    background-color: #800000;
    text-align: center;
}
ul.mmenuu > li > a:hover {
    background-color: #eb9316;
}
ul.ssubmenuu {
    position: absolute;
    width: 200px;
    top: 37px;
    left:0px;
    display: none;
    background-color: white;
}
ul.ssubmenuu > li {
    display: block;
}
ul.ssubmenuu > li > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    background-color: #800000;
}
ul.ssubmenuu > li > a:hover {
    background-color: #eb9316;
    text-decoration: underline;
     background-image: "../img/Fon2.jpg";
}
ul.mmenuu > li:hover > ul.ssubmenuu {
    display: block;
}
p {
    color: #D2B48C;
    margin-left: 5px;
    font-family: 'Segoen print';
}

