body {
    margin:0px;
    padding:0px;
    font: 14px 'Verdana';
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
ul {
    list-style: none;
    display: block;
    margin:0px;
    padding:0px;
}
ul:after {
    display: block;
    float: none;
    content: ' ';
    clear: both;
}
ul.mmenuu > li {
    float: left;
    position: relative;
    width: 25%;
}
ul.mmenuu > li > a {
    display: block;
    color: #fff;
    padding: 12%;
    text-decoration: none;
    background-color: #008b8b;
    text-align: center;
    border-radius: 1%;
}
ul.mmenuu > li > a:hover {
    background-color: #eb9316;
}
ul.ssubmenuu {
    position: absolute;
    width: 100%;
    top: 12;
    left:0px;
    display: none;
    background-color: white;
}
ul.ssubmenuu > li {
    display: block;
}
ul.ssubmenuu > li > a {
    display: block;
    text-decoration: none;
    padding: 12%;
    color: #ffffff;
    background-color: #008b8b;
    text-align: center;
    left: 1%;
    font: 14px 'Times New Roman';
}
ul.ssubmenuu > li > a:hover {
    text-decoration: underline;
}
ul.mmenuu > li:hover > ul.ssubmenuu {
    display: block;
}
pre {
    text-align: center;
    left: 1%;
    background-color: #808000;
    font: 16px 'Times New Roman';
}
p {
   text-align: center;
    left: 1%; 
    font: 18px 'Times New Roman';
    background-color: #daa520;
}
