body {
    margin:0px;
    padding:0px;
    font: 14px 'Verdana';
}
ul {
    list-style: none;
    display: block;
    margin:0px;
    padding:0px;
}
ul:after {
    display: block;
    float: none;
    content: ' ';
    clear: both;
}
ul.mmenuu > li {
    float: left;
    position: relative;
    width: 303px;
}
ul.mmenuu > li > a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    background-color: #800000;
    text-align: center;
}
ul.mmenuu > li > a:hover {
    background-color: #eb9316;
}
ul.ssubmenuu {
    position: absolute;
    width: 200px;
    top: 37px;
    left:0px;
    display: none;
    background-color: white;
}
ul.ssubmenuu > li {
    display: block;
}
ul.ssubmenuu > li > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    background: url('../img/Fon2.jpg');
}
ul.ssubmenuu > li > a:hover {
    text-decoration: underline;
}
ul.mmenuu > li:hover > ul.ssubmenuu {
    display: block;
}
p.Zagolovok {
    font-family: 'Segoe print';
    color: #D2B48C;
    margin-left: 5px;
}
p.Ssilka {
    font-family: 'Segoe print';
    text-decoration: none;
    margin-left: 5px;
    color: #DAA520;
}
p.Ssilka > a {
    text-decoration: none;
    margin-left: 5px ;
    color: #DAA520;    
}
p.Himel {
    color: #D2B48C;
    margin-left: 5px;
    font-family: 'Segoe print';
}
p.Anlhim {
    color: #D2B48C;
    margin-left: 5px;
    font-family: 'Segoe print';
}
p.Bufras {
    color: #D2B48C;
    margin-left: 5px;
    font-family: 'Segoe print';
}
p.Gidsol {
    color:#000000;
    margin-left: 5px;
    font-family: 'Segoe print';
    font-size: 20px;
    margin-left: 390px;
    background-color: #808080;
    text-indent: 20px;
    text-align: justify;
    padding: 0px 1px 0px 10px;
    margin-right: 10px;
}
ul.tg > li > a {
    color:#000000;
    font-family: 'Segoe print';
    font-size: 20px;
    background-color: #8B0000;
    margin: 0px, 0px, 0px, 700px;
    text-decoration: none;
    position: fixed;
    margin-left: 5px;
    padding: 8px 2px 8px 2px;
    border: 1px solid #FF8C00;
    border-radius: 20px;
}
p.Zag {
    color:#000000;
    margin-left: 5px;
    font-family: 'Segoe print';
    font-size: 20px;
    margin-left: 390px;
    background-color: #FFFFF0;
    text-indent: 20px;
    margin-right: 10px;
}
p.Silel {
    color: #D2B48C;
    margin-left: 5px;
    font-family: 'Segoe print';
}
p.Slbel {
    color: #D2B48C;
    margin-left: 5px;
    font-family: 'Segoe print';
}
