body {
    margin:0px;
    padding:0px;
    font: 14px 'Verdana';
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
ul {
    list-style: none;
    display: block;
    margin:0px;
    padding:0px;
}
ul:after {
    display: block;
    float: none;
    content: ' ';
    clear: both;
}
ul.mmenuu > li {
    float: left;
    position: relative;
    width: 25%;
}
ul.mmenuu > li > a {
    display: block;
    color: #fff;
    padding: 12%;
    text-decoration: none;
    background-color: #800000;
    text-align: center;
}
ul.mmenuu > li > a:hover {
    background-color: #eb9316;
}
ul.ssubmenuu {
    position: absolute;
    width: 100%;
    top: 12;
    left:0px;
    display: none;
    background-color: white;
}
ul.ssubmenuu > li {
    display: block;
}
ul.ssubmenuu > li > a {
    display: block;
    text-decoration: none;
    padding: 12%;
    color: #ffffff;
    background: url('../img/Fon2.jpg');
    text-align: center;
}
ul.ssubmenuu > li > a:hover {
    text-decoration: underline;
}
ul.mmenuu > li:hover > ul.ssubmenuu {
    display: block;
}
.Ssilka > a {
    text-decoration: none;
    margin-left: 3%;
    color: #8b0000;
}
.Ssilka {
    background-color: #dda0dd;
    margin-left: 1%;
    width: 90%;
    text-align: center;
}
.Zagolovok  {
    width: 90%;
    color:#8b008b;
    background-color: #e0ffff;
    font: 18px 'Times New Roman';
    margin-left: 1%;
}
.Silka {
    text-decoration: none;
    color:#eb9316;
    margin-left: 3%;
    width: 90%;
}
